*{
box-sizing: border-box;
margin: 0;
padding: 0;    
}
:root{
--primary-color:rgb(242, 95, 58);
--secondary-color:rgb(35, 44, 81);
}
body{
background-color: #E5E5E5;
font-family: 'Be Vietnam Pro', sans-serif;
}
h1, h2, h3{
    color: var(--secondary-color);
    font-weight: 700;
    text-align: center;
}
p{
    color: #B3B2B7;
    font-family: 500;
    font-size: 12px;
}
h6{
    font-weight:500;
}
.section4banner {
background-color:#F3613C;
width: 100%;
height: 50%;
text-align: justify;
}
footer{
background-color:#1E1E26;
width: 100%;
height: 17%;
margin: 5% auto;
display: flex;
flex-direction: column-reverse;
justify-content: space-around;
align-items: center;
}
header .navbar nav{
    display: none;
}
.buttondesktop{
    display: none;
}
header {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.section1estadistica{
width: 78%;
height: 36%;
margin: 10% auto;
text-align: justify;
}

.grupoImagenes1{
width: 80%;
height: 80%;
margin-left: 10%;
}
button {
font-size: 10px;
font-weight: bold;
text-align: center;
color: #FFFFFF;
background: #F3603B;
border-radius: 30px;
border: none;
padding: 10px 20px;
}
.buttonmain4 {
background-color: #FFFFFF;
color: #F3603B;

}
.buttonmain{
margin-left:35%;
}
.buttonmain2{
    padding: 7px 18px;
}
.section2ventajas{
    width: 77%;
    height: 38%;
    margin: 10% auto;
    text-align: justify;
}
.section3opiniones{
    width: 90%;
    height: 33%;
    margin: 5% auto;
    text-align: justify;
}
.section2ventajas div span{
    color: var(--secondary-color);
    font-weight: 700;
}
.section3opiniones img{
width: 20%;
height: 20%;    
margin-left: 39%;
}
.section3opiniones h3{
    font-size: 14px;
}
.section3opiniones p{
font-size: 10px;
}
.listasfooter span{
display:flex;
flex-direction:row;
justify-content: space-around;
align-items: center;
gap:30%;
}
.listasfooter span ul{
list-style-type: none;
font-size: 12px;
}
.listasfooter span ul a{
text-decoration: none;
color:white;

}
.listasfooter {
margin: 5% auto;
}
.logosyredes{
    display:flex;
    flex-direction:column-reverse;
    justify-content: space-around;
    align-items: center;
    gap:40%;   
}
.logosyredes h6{
order:-1;
color: rgb(249, 249, 249);
font-size: 10px;
margin:10% auto;
}
.logosyredes span a{
text-decoration: none;
color:white;
font-size: 25px;
}
.logosyredes span{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:25%;
    margin-bottom: 15%;
}
.email{
border-radius: 15px;
padding: 10px;
width: px;
height: 30px;
margin: 10% 0;
    
}
.go {
font-size: 10px;
font-weight: bold;
text-align: center;
color: #FFFFFF;
background: #F3603B;
border-radius: 30px;
border: none;
padding: 10px 20px;
}
.simplify{
width: 80%;
height:10%;
margin: auto;
}
.simplify h2{
color: white;
margin: 10% auto;
}
.simplify button{
margin: 10% 30%;
}
@media screen and (min-width:375px){

    header .navbar nav{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        gap:30%;
        }
    header .navbar .iconomobile{
        display:none;
        }
    .navbar nav ul{
        list-style-type: none;
        font-size: 13px;
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        gap:20%;
        margin-right: 70%;
    
        }
    .navbar nav ul li a{
        text-decoration: none;
        color:#242E52;
    }
    .navbar nav::after{
    content:url("../img/ButtonGetSt.png");
    width: 40%;
    height:20%;
    margin-right: 10%;
    /*se que le falta el link pero queria probar el ::after y creo que con javascrip se podria linkear*/

    }
    header{
    justify-content: space-around;
    }
    .grupoImagenes1{
        width: 40%;
        height: 40%;
        margin-left: 5%;



    }
    h1{
    font-size: 58px;
    }
    h2{
        font-size: 42px;
    }
    .section1estadistica{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap:10%;
    }
    
    p{
    font-size: 16px;
    }
    .divdesktop{
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        gap:20%;
    }
    .buttonmain{
        margin: 5% 0%;
    }

.section2ventajas{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:5%;
}
.divorg{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    gap:10%;
}
.section3opiniones{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:5%;
}
.divorg2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:10%;
}
.divorg2{
    margin:auto;
}
.divorg3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:5%;
}
.section4banner{
height: 15%;
}


.simplify{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.buttonmain4{
padding: 10px 40px;
}
footer {
    flex-direction:row;
}
.logosyredes img{
order: 2;
margin:10% 0%;
}
.logosyredes{
margin-left: 15%;
}
.formfooter{
margin-right: 15%;
}
.listasfooter span ul a{
    font-size: 16px;
}
.navbar nav ul li a:hover{
color: rgb(249, 249, 249);
}

.listasfooter span ul li a:hover {
color: orange;
}
button:hover {
opacity: 50%;
}

}
